<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/2cbecd44b4.js" crossorigin="anonymous"></script>
    <title>Vue To Do List</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div class="container title">
            <h1>La tua lista</h1>
        </div>

        <!--aggiungi elementi-->
        <div class="container add-activites">

            <input class="add-list" type="text" placeholder="Aggiungi attivit&agrave;" v-model="inputValue">

            <button @click="addTask">Aggiungi</button>
        </div>

        <!--lista con elementi-->
        <div class="container">
            <div class="list">
                <ul>
                    <li v-for="(textlist, index) in tasks" >
                        
                        <div :class="((textlist.done) === true)? 'delete' : ' ' ">
                            {{ textlist.text}}
                        </div>
                        
                        <i class="remove fa-solid fa-xmark" @click="removeTask(index)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>